:root {
    --main-background: #6C8EAD;
    --header-background: #FF3C38;
    --footer-background: #4CAF50;
    --text-color: #564949;
    --section-heading-color: #ee8244;
}

body {
    font-family: 'Roboto', sans-serif; 
    background-color: var(--main-background); 
    color: var(--text-color); 
}

/* Header styling */
header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 120px 1fr 2fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 1000px;
}

header img {
    margin: 0 0.25rem 0 1rem;
    width: 64px;
    height: auto;
}

nav {
    text-align: right;
}

.navigation {
    display: flex;
    list-style: none;
}

.navigation li {
    flex: 1 1 100%;
}

.navigation a {
    display: block;
    color: #87A684;
    padding: 20px;
    text-decoration: none;
}

.navigation a:hover {
    color: tomato;
    font-weight: 700;
    text-decoration: underline;
}

/* Main content styling */
main {
    padding: 20px;
}

h1 {
    position: absolute;
    text-align: center;
    font-family: 'Merriweather', serif; 
    font-size: 2rem;
    margin: 20px 0;
}

article {
    background-color: #ffffff;
    padding: 20px;
    position: absolute;
    font: 14;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

article img {
    display: wrap-flex;
    max-width: 100%;
    border-radius: 8px;
}

/* Section styling */
section {
    margin: 20px 0;
}

h2 {
    margin: 15px 0;
    color: #57886C; 
    font-family: 'Merriweather', serif; 
}

figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
}

img {
    max-width: 220px;
    max-height: 150px;
}

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

/* Footer styling */
footer {
    background-color: #4CAF50;
    padding: 10px;
    text-align: center;
    color: white;
}

footer p {
    margin: 10px 0;
}

.social_links a {
    text-decoration: none;
}

.social_links a img {
    width: 10px;
    margin: 0px;
    vertical-align: middle;
}
